body {
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .lawyers-container {
    display: flex;
    justify-content: center;
  }
  
  .lawyer-item {
    width: 300px;
    margin: 10px;
    text-align: center;
  }
  
  .lawyer-link {
    text-decoration: none;
    color: inherit;
  }
  
  .lawyer-image {
    width: 200px;
  }
  /* pagina de time */
.lawyers-container {
    display: flex;
    justify-content: center;
  }
  
  .lawyer-item {
    width: 300px;
    margin: 10px;
    text-align: center;
  }
  
  .lawyer-link {
    text-decoration: none;
    color: inherit;
  }
  
  .lawyer-image {
    width: 200px;
  }
h1{
    font-size: 36px;
}
p{
    font-size:25px;
    text-align: center;
}
  /*header*/

  .header-container {
    display: flex;
    justify-content: space-between;
    padding: 10;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: 'ubuntu';
    margin: 0px;
  }

  .logo h1 {
    margin: 0;
    background-color: red;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  
  nav ul li {
    margin-left: 100px;
    margin-top: 5px;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
strong{
    color: red;
}